<div class="container">
	<h1>Cast Vote</h1>
	<p>Cast a vote to your party!</p>


	<br>


	<div class="form-group">
		<label>Username</label>
		<input type="text" class="form-control" [(ngModel)]="voterKeyPublic" disabled>
	</div>
    

    <div class="form-group">
		<label>From VoterID</label>
		<input type="text" class="form-control" [(ngModel)]="newVt.fromVoterID">
	</div>


	<div class="form-group">
		<label>From Aadhaar</label>
		<input type="text" class="form-control" [(ngModel)]="newVt.fromAadhaar">
	</div>


	<div class="form-group">
		<label>From Name</label>
		<input type="text" class="form-control" [(ngModel)]="newVt.fromName">
	</div>


	<div class="form-group">
		<label>To Party</label>
		<input type="text" class="form-control" [(ngModel)]="newVt.toParty">
	</div>


	<div class="form-group">
		<label>Constituency</label>
		<input type="text" class="form-control" [(ngModel)]="newVt.constituency">
	</div>

	<button (click)="createVoter()" class="btn btn-primary">Sign & cast vote</button>
</div>
